/* Animasi halus */
* {
    transition: all 0.3s ease;
}

/* Hover tombol login */
.btn-primary:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(13,110,253,0.4);
}

/* Hover teks judul */
h1:hover {
    text-shadow: 0 20px 20px rgba(255,255,255,0.4);
}

/* Hover logo */
.logo:hover {
    transform: scale(1.50);
}
